.body{
	font-family- Roboto
}

.image{
	Height:205px;
	Width:300px;
}
#heading{
font-size:20px;
}

main{
	font-size:15px;
}
.body{
border-style:solid;
border-color:#E2E2E2;
width:300px;
border-width:0.5px;
	
}
#div-2{
padding-left:25px;
border:none;
}
#boxes{
display:flex;

gap:20px;
}